@import "../../style/mixins.scss";

.snippet {
  @include card();
  background: var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.4rem;
  box-shadow: var(--box-shadow);
  .title,
  .description,
  .code {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 30px;
    text-transform: capitalize;
    width: 100%;
    font-weight: lighter;
  }

  .description {
    text-transform: capitalize;
    font-size: 18px;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--dark-color);
    font-weight: lighter;
  }

  .category {
    font-size: 20px;
    font-weight: lighter;
  }

  .code {
    background: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--dark-color);
  }

  span {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .edit-btn,
  .delete-btn {
    @include btn();
    margin-right: 1rem;
  }

  .edit-btn {
    background: var(--accent-color);
    color: var(--text-light);
    width: 60px;
    font-size: 16px;
    font-weight: lighter;
  }

  .delete-btn {
    background: var(--danger-color);
    color: var(--text-light);
    width: 80px;
    font-size: 16px;
    font-weight: lighter;
  }

  .category {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .snippet {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    .title,
    .description,
    .code {
      width: 100%;
      overflow-x: scroll;
    }
  }
}
