:root {
  --primary-color: #fff;
  --text-dark: #40514e;
  --light-color: #f5f5f5;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
  --dark-color: #e7e6e6;
  --text-light: #ffffff;
  --danger-color: #EF4056;
  --accent-color: #2f89fc;
  --link-color: #1e1e1e;
}
