@import "../../style/mixins.scss";

.navbar {
  display: flex;
  color: var(--light-text);
  padding: 0 8rem;
  height: 75px;
  align-items: center;
  margin-top: 0rem;
  box-shadow: var(--box-shadow);
  .logout-btn {
    @include link();
  }
  .nav-links {
    margin-left: auto;
  }
  .link {
    padding:  0.5rem 1rem;
    border-radius: 4px;
  }

  .brand {
    font-size: 2rem;
    font-weight: lighter;
  }

  .login {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-weight: normal;
    font-weight: lighter;

  }

  .register {
    background-color: var(--text-dark);
    color: var(--light-color);
    font-weight: normal;
    font-weight: lighter;

  }
  a,
  .logout-btn {
    color: unset;
    margin-right: 0.6rem;
    font-weight: lighter;

  }

  .logout-btn {
    margin-left: auto;
    font-weight: lighter;

  }
}


@media only screen and (max-width: 600px) {
 .navbar {
   padding: 0 1rem;
   margin-bottom: 1rem;
   .nav-links {
     display: flex;
     align-items: center;
     width: 80%;
    //  display: none;
     .login {
       width: 40%;
       margin-left: auto;
     }
   }
 }   
}